include ./app/treeview/template
include ./app/codeview/template
include ./app/settings/template
include ./app/download/template
include ./variables

doctype html
html
  head
    title Webpack Config Generator
  body
    header
      h1 Webpack config generator
      div
        a(href='https://github.com/Dmitriyff/webpackconfiggenerator' target='_blank')
          img(src='assets/github.svg')
        a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=2A9MYGXNFC8GE' title='Buy me coffee' target='_blank')
          img(src='assets/donut.svg' width='43px')
    main
      section
        +app-treeview
        +app-download
      section
        +app-codeview
      section
        +app-settings

    footer
